@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}
.layout {
    width: 900px;
    height: 415px;
    padding: 38px 35px 35px 35px;
    background-color: bisque;
}
/* .video-principal {
    width: 543px;
    background-color: brown;
} */
.propaganda {
    display: flex;
    justify-content: center;
}
.video-lista {
    display: flex;
    height: auto;        
}
/* .video-lista img {
    display: block;
} */