@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    font-family: 'roboto', sans-serif;
}
.layout {
    width: 900px;
    height: 415px;
    padding: 38px 35px 35px 35px;
    background-color: #F7F7F7;
}
.titulo-lista {
    font-size: 14px;
    font-weight: 700;
}
.autor-lista,
.visualizacao-lista,
.tempo-lista {
    font-size: 11px;
    font-weight: 300;
}