.layout {
    display: grid;
    grid: "video-principal propaganda" 56px
          "video-principal video-lista" auto
          / 543px auto;
    grid-gap: 20px;
}
.video-principal {
    grid-area: video-principal;
}
.propaganda {
    grid-area: propaganda;
    background-color: brown;
}
.video-lista {
    grid-area: video-lista;
}
.propaganda {
    display: flex;
    justify-content: center;
}
.video-lista {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 71px;        
}
.titulo-principal {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.visualizacao-principal {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.descricao-principal {
    font-size: 16px;
    font-weight: 300;
}
.thumb-video {
    display: flex;
}
.thumb-descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
